  <div ng-controller="DietProfileController as profileCtrl">
    <h1>Diet profiles</h1>
      <ion-list>
      <div ng-repeat="profile in profileCtrl.dietProfiles">
        <div class="card">
          <ion-checkbox type="checkbox" name="name" class="profile-name" ng-true-value='{{profile.ingredients}}' ng-model='selectedProfiles[profile.name]'> {{ profile.name }}</ion-checkbox>
          Ingredients:
          <ul>
           <li class="ingredient-name" ng-repeat="ingredient in profile.ingredients">
              {{ ingredient.name }}
           </li>
          </ul>
        </div>
      </div>
      <button class="button button-block button-stable" ng-click="profileCtrl.cleanFalse(selectedProfiles)">Submit</button>
    </ion-list>
  </div>
