  <div ng-controller="DietProfileController as dietProfileCtrl">
    <h1>Diet profiles</h1>
      <ion-list>
      <div ng-repeat="profile in dietProfileCtrl.dietProfiles">
        <div class="card">
          <ion-checkbox name="name" class="profile-name" ng-true-value='{{profile.ingredients}}' ng-model="selectedProfiles[profile.name]"> {{ profile.name }}</ion-checkbox>
          Ingredients:
          <ul>
           <li class="ingredient-name" ng-repeat="ingredient in profile.ingredients">
              {{ ingredient.name }}
           </li>
          </ul>
        </div>
      </div>
      <button class="button button-block button-stable" ng-click="dietProfileCtrl.cleanFalse(selectedProfiles)">Submit</button>
    </ion-list>
  </div>
