<ion-view>
  <ion-content>
    <div class="row row-center" id="diet-profile">
      <div class="col col-center">
        <div ng-controller="DietProfileController as dietProfileCtrl">
          <h3 id="title">DEFAULT PROFILES</h3>
          <ion-list>
            <div ng-repeat="profile in dietProfileCtrl.dietProfiles">
              <div class="card" id="profile-box">
                <ion-checkbox name="name" class="profile-name" ng-true-value='{{profile.ingredients}}' ng-model="selectedProfiles[profile.name]"> {{ profile.name.toUpperCase() }}</ion-checkbox>
                <strong id="ingredient-title">Ingredients</strong>
                <ul>
                  <li class="ingredient-name" ng-repeat="ingredient in profile.ingredients">
                    {{ ingredient.name }}
                  </li>
                </ul>
              </div>
            </div>
            <button id="orange-button" class="button" ng-click="dietProfileCtrl.cleanFalse(selectedProfiles)">Submit</button>
          </ion-list>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
