<div class="row row-center">
  <div class="col text-center">
  <div ng-controller="SearchController as searchCtrl">
    <form ng-submit="getProductInfo(barcode)" role="form">

      <button id='scan-button' ng-click="scanBarcode()" class="button">Scan Barcode</button>


      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input ng-model="barcode" id="barcode-input" type="search" required="required" placeholder="Enter barcode">
      </label>
        <button type="submit" id="barcode-submit" class="button button-block button-stable">Search Barcode</button>
      </form>

      </div>
    </div>
</div>
</div>
