<form ng-submit="handleLoginBtnClick(loginForm)" role="form" ng-init="loginForm = {}">

    <label class='item item-input'>
      <input type="email" type='email' name="email" ng-model="loginForm.email" required="required" placeholder="email"/>
    </label>

    <label class="item item-input">
      <input type="password" name="password" ng-model="loginForm.password" required="required" placeholder="password"/>
    </label>

  <button id='submit' type="submit" class="button button-block button-stable">Sign in</button>
</form>